<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация в SELLIX</title>
</head>
<body>
<h1>SELLIX</h1>
<h2>Регистрация</h2>

<form th:action="@{/users}" th:method="post" th:object="${userDto}" enctype="multipart/form-data">
    <div>
        <label for="username">Имя пользователя:</label>
        <input id="username" type="email" th:field="*{username}" required>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
            Ошибка имени пользователя
        </div>
    </div>
    <div>
        <label for="firstName">Имя:</label>
        <input id="firstName" type="text" th:field="*{firstName}" required>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
            Ошибка имени
        </div>
    </div>
    <div>
        <label for="lastName">Фамилия:</label>
        <input id="lastName" type="text" th:field="*{lastName}" required>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
            Ошибка фамилии
        </div>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input id="password" type="password" th:field="*{password}" required>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Ошибка пароля
        </div>
    </div>
    <div>
        <label for="phoneNumber">Номер телефона:</label>
        <input id="phoneNumber" type="text" th:field="*{phoneNumber}">
    </div>
    <div>
        <label for="avatar">Аватар:</label>
        <input id="avatar" type="file" th:field="*{avatar}">
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться">
    </div>
</form>

<p><a th:href="@{/login}">Войти</a></p>
</body>
</html>