<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная страница SELLIX</title>
</head>
<body>
<h1>SELLIX</h1>

<div sec:authorize="isAuthenticated()">
    <p>
        <a th:href="@{/users/{id}(id=${#authentication.principal.id})}">
            Профиль (<span th:text="${#authentication.principal.username}">Не указано</span>)
        </a>
    </p>
    <div th:insert="~{fragment :: logout}"></div>
</div>
<div sec:authorize="!isAuthenticated()">
    <p><a th:href="@{/login}">Войти</a></p>
</div>

<p><a th:href="@{/announcements/create}">Подать объявление</a></p>

<form th:action="@{/announcements}" th:method="get" th:object="${filter}">
    <div>
        <label for="search">Что ищете?</label>
        <input id="search" type="text" th:field="*{title}">
    </div>
    <div>
        <label for="city">Город:</label>
        <select id="city" th:field="*{city}">
            <option value="">Вся страна</option>
            <option th:each="cityOpt : ${cities}" th:value="${cityOpt}" th:text="${cityOpt}" th:selected="${cityOpt == filter.city}"></option>
        </select>
    </div>
    <div>
        <label for="minPrice">Цена от:</label>
        <input id="minPrice" type="number" th:field="*{minPrice}">
    </div>
    <div>
        <label for="maxPrice">Цена до:</label>
        <input id="maxPrice" type="number" th:field="*{maxPrice}">
    </div>
    <div>
        <input type="submit" value="Поиск">
    </div>
</form>

<div th:each="announcementDto : ${announcementPage.getContent()}">
    <div>
        <img th:src="@{/announcements/{id}/preview(id=${announcementDto.id})}" alt="Превью объявления">
        <h4>
            <span th:text="${announcementDto.title} ?: 'Не указано'">Не указано</span>
            <a th:href="@{/announcements/{id}(id=${announcementDto.id})}">Подробнее</a>
        </h4>
        <p><span th:text="${#numbers.formatDecimal(announcementDto.price, 0, 'POINT', 0, 'COMMA')} + ' сум'">Не указано</span></p>
        <p><span th:text="${announcementDto.city} ?: 'Не указано'">Не указано</span></p>
        <p><span th:text="${announcementDto.createdAt} ?: 'Не указано'">Не указано</span></p>
    </div>
</div>

<div th:if="${announcementPage.totalPages > 1}">
    <div>
        <a th:if="${announcementPage.hasPrevious()}" th:href="@{/announcements(page=${announcementPage.number - 1}, title=${filter.title}, city=${filter.city}, minPrice=${filter.minPrice}, maxPrice=${filter.maxPrice})}">Предыдущая</a>
        <span th:text="${announcementPage.number + 1}">1</span>
        <a th:if="${announcementPage.hasNext()}" th:href="@{/announcements(page=${announcementPage.number + 1}, title=${filter.title}, city=${filter.city}, minPrice=${filter.minPrice}, maxPrice=${filter.maxPrice})}">Следующая</a>
    </div>
</div>
</body>
</html>
