<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Объявления SELLIX</title>
</head>
<body>
<h1>SELLIX</h1>
<h2>Объявления</h2>

<div th:if="${!announcementDtos.isEmpty()}">
    <div th:each="announcementDto : ${announcementDtos}">
        <div>
            <img th:src="@{/announcements/{id}/preview(id=${announcementDto.id})}" alt="Превью объявления">
            <h4>
                <span th:text="${announcementDto.title} + ' ' + ${#numbers.formatDecimal(announcementDto.price, 0, 'POINT', 0, 'COMMA')} + ' сум'">Не указано</span>
                <a th:href="@{/announcements/{id}(id=${announcementDto.id})}">Подробнее</a>
            </h4>
        </div>
    </div>
</div>
<div th:if="${announcementDtos.isEmpty()}">
    <h3>Объявлений пока нет</h3>
</div>
</body>
</html>
