<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Announcements</title>
</head>
<body>
<h1>SELLIX</h1>

<div sec:authorize="isAuthenticated()">
    <a th:href="'/users/' + ${#authentication.principal.id}" class="profile-link">
        Профиль (<span th:text="${#authentication.principal.username}"></span>)
    </a>
    <div th:insert="~{fragment :: logout}"></div>
</div>
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/login}" class="profile-link">Профиль</a>
</div>

<a href="/announcements/create">Подать объявление</a>
<hr><br>

<form action="/announcements" th:object="${filter}">
    <label for="search">Что ищете?
        <input id="search" type="text" name="title" th:value="*{title()}">
    </label>
    <select name="city" class="form-select" th:field="*{city}">
        <option value="">Вся страна</option>
        <option th:each="cityOpt : ${cities}"
                th:value="${cityOpt}"
                th:text="${cityOpt}"
                th:selected="${cityOpt == filter.city()}">
        </option>
    </select>
    <input type="submit" value="Поиск">
    <br>
    <h4>Фильтры</h4>
    Цена<br><br>

    <label for="minPrice">от:
        <input id="minPrice" type="number" name="minPrice" th:value="*{minPrice()}">
    </label>
    <label for="maxPrice">до:
        <input id="maxPrice" type="number" name="maxPrice" th:value="*{maxPrice()}">
    </label>
</form>
<br><br>

<div th:each="announcementDto : ${announcementPage.getContent()}">

    <img th:src="@{/announcements/{id}/preview(id=${announcementDto.id})}"
         width="100" height="100" alt="image">

    <h4>
        <span th:text="${announcementDto.title}">Text</span>
        <a th:href="@{/announcements/{id}(id=${announcementDto.id})}">Подробнее...</a>
        <br>
        <span th:text="${#numbers.formatDecimal(announcementDto.price, 0, 'POINT', 0, 'COMMA')} + ' сум'">text</span>
        <br>
        <span th:text="${announcementDto.city}">text</span>
        <span th:text="${announcementDto.createdAt}">text</span>
    </h4>
</div>

<div th:if="${announcementPage.totalPages > 1}" class="pagination">
    <th:block th:if="${announcementPage.number == 0}">
        <span th:text="${announcementPage.number + 1}" class="current-page"></span>
        <a th:if="${announcementPage.hasNext()}"
           th:href="@{/announcements(page=${announcementPage.number + 1}, title=${filter.title}, city=${filter.city}, minPrice=${filter.minPrice}, maxPrice=${filter.maxPrice})}"
           class="page-link">Следующий</a>
    </th:block>

    <th:block th:if="${announcementPage.number > 0 and announcementPage.number < announcementPage.totalPages - 1}">
        <a th:href="@{/announcements(page=${announcementPage.number - 1}, title=${filter.title}, city=${filter.city}, minPrice=${filter.minPrice}, maxPrice=${filter.maxPrice})}"
           class="page-link">Предыдущий</a>
        <span th:text="${announcementPage.number + 1}" class="current-page"></span>
        <a th:href="@{/announcements(page=${announcementPage.number + 1}, title=${filter.title}, city=${filter.city}, minPrice=${filter.minPrice}, maxPrice=${filter.maxPrice})}"
           class="page-link">Следующий</a>
    </th:block>

    <th:block th:if="${announcementPage.number == announcementPage.totalPages - 1}">
        <a th:href="@{/announcements(page=${announcementPage.number - 1}, title=${filter.title}, city=${filter.city}, minPrice=${filter.minPrice}, maxPrice=${filter.maxPrice})}"
           class="page-link">Предыдущий</a>
        <span th:text="${announcementPage.number + 1}" class="current-page"></span>
    </th:block>
</div>
</body>
</html>
