<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Подробности объявления SELLIX</title>
</head>
<body>
<h1>SELLIX</h1>
<h2>Подробности объявления</h2>

<div th:each="announcementImage : ${announcementDto.images}">
    <img th:src="@{/announcements/{id}/image(id=${announcementImage.id})}" alt="Изображение объявления">
</div>

<div>
    <p><strong>Заголовок:</strong> <span th:text="${announcementDto.title} ?: 'Не указано'">Не указано</span></p>
    <p><strong>Описание:</strong> <span th:text="${announcementDto.description} ?: 'Не указано'">Не указано</span></p>
    <p><strong>Цена:</strong> <span th:text="${#numbers.formatDecimal(announcementDto.price, 0, 'POINT', 0, 'COMMA')} + ' сум'">Не указано</span></p>
    <p><strong>Город:</strong> <span th:text="${announcementDto.city} ?: 'Не указано'">Не указано</span></p>
    <p><strong>Опубликовано:</strong> <span th:text="${announcementDto.createdAt} ?: 'Не указано'">Не указано</span></p>
</div>

<div sec:authorize="isAuthenticated()">
    <div th:if="${#authentication.principal.id == announcementDto.salesman.id}">
        <p><a th:href="@{/announcements/{id}/edit(id=${announcementDto.id})}">Редактировать объявление</a></p>
    </div>
</div>

<h2>Продавец</h2>
<div th:if="${salesman.avatar}">
    <img th:src="@{/users/{id}/avatar(id=${salesman.id})}" alt="Аватар продавца">
</div>
<div>
    <p><strong>Почта:</strong> <span th:text="${salesman.username} ?: 'Не указано'">Не указано</span></p>
    <p><strong>Имя:</strong> <span th:text="${salesman.firstName + ' ' + salesman.lastName} ?: 'Не указано'">Не указано</span></p>
    <p th:if="${salesman.phoneNumber != null && !salesman.phoneNumber.isEmpty()}">
        <strong>Номер телефона:</strong> <span th:text="${salesman.phoneNumber}">Не указано</span>
    </p>
    <p><a th:href="@{/announcements/user/{id}(id=${salesman.id})}" th:text="'Все объявления от ' + ${salesman.username} ?: 'Продавца'">Все объявления</a></p>
</div>
</body>
</html>